<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carpoolbuddyy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarPoolBuddyy">
        <activity
            android:name=".UserCreationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.VehicleViewHolder"
            android:exported="false" />
        <activity
            android:name=".Activities.VehicleRecyclerViewAdapter"
            android:exported="false" />
        <activity
            android:name=".Activities.VehicleProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VehicleInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LogInActivity"
            android:exported="false" />
    </application>

</manifest>